
.headerWrapper{
    background-color: var(--first-color);
    height: 80px;
    align-items: center;
    display: flex;
    padding-left: 10px ;
    padding-right: 10px;
    justify-content: space-between;
}

.header{
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navigation{
    display: flex;
    gap: 20px;
}

.center {
    flex: 1;
    display: flex;
    justify-content: center;
}

.right {
    justify-content: flex-end;
}